// This file define the special class and styles
//
//
//

//
// Triangle
//
@include triangle();

//
// Close
//
$close-shadow: (0 0 2px rgba($gray-dark, 1));
.close {
  float: right;
  font-size: ($font-size-base * 2);
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  @include text-shadow($close-shadow);
  opacity: .5;

  @include hover-focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }
  @include focus-none();
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

//
// Floats
//

.clearfix {
  @include clearfix();
}

.fl {
  @include float(left);
}

.fr {
  @include float(right);
}
//
// Text
//

// Lead
// The style of Chinese is terrible.
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Alignment
//
//
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }
.text-nowrap { white-space: nowrap !important; }
// when text over the wrapper width, it will show ellipsis
//
.text-truncate { @include text-truncate};
.text-indent { text-indent: 2em !important;}

// Transformations
//
//
.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }


// font family
//
//
.text-web { font-family: $font-family-sans-serif !important; }
.text-paper { font-family: $font-family-serif !important; }
.text-letter { font-family: $font-family-monospace !important; }

// textarea
//
//
.size-dead {
  resize: none !important;
}

.text-hidden {
  @include text-hidden();
}


// Colors
//
//
.text-primary { color: $brand-primary !important;}
.text-secondary { color: $brand-secondary !important;}
.text-info { color: $brand-info !important;}
.text-success { color: $brand-success !important;}
.text-warning { color: $brand-warning !important;}
.text-danger { color: $brand-danger !important;}
.text-muted { color: $text-muted !important;}
.text-dark { color: $gray-dark !important;}
.text-light { color: $gray-lightest !important;}


//
// Background
//

@include bg-variant('.bg-primary', $brand-primary);
@include bg-variant('.bg-secondary', $brand-secondary);
@include bg-variant('.bg-info', $brand-info);
@include bg-variant('.bg-success', $brand-success);
@include bg-variant('.bg-warning', $brand-warning);
@include bg-variant('.bg-danger', $brand-danger);
@include bg-variant('.bg-muted', $text-muted);
@include bg-variant('.bg-dark', $gray-dark);
@include bg-variant('.bg-light', $gray-lightest);
@include bg-variant('.bg-perspective', $transparent);


//
// Margin and padding
//

@each $dir in $margin-padding-direction {
  @each $i in $margin-padding-range {
    .m#{$dir}-#{$i} {
      @if $dir == '' {
        margin: $i + px;
      }@else if $dir == t {
        margin-top: $i + px;
      }@else if($dir == r) {
        margin-right: $i + px;
      }@else if($dir == b) {
        margin-bottom: $i + px;
      }@else if($dir == l) {
        margin-left: $i + px;
      }@else if($dir == v) {
        margin-top: $i + px;
        margin-bottom: $i + px;
      }@else if($dir == h) {
        margin-left: $i + px;
        margin-right: $i + px;
      }
    }

    .p#{$dir}-#{$i} {
      @if $dir == t {
        padding: $i + px;
      }@else if($dir == t) {
        padding-top: $i + px;
      }@else if($dir == r) {
        padding-right: $i + px;
      }@else if($dir == b) {
        padding-bottom: $i + px;
      }@else if($dir == l) {
        padding-left: $i + px;
      }@else if($dir == v) {
        padding-top: $i + px;
        padding-bottom: $i + px;
      }@else if($dir == h) {
        padding-left: $i + px;
        padding-right: $i + px;
      }
    }
  }
}

//
// Font size
//
@for $size from 12 through 20 {
  .font-#{$size} {
    font-size: $size * 1px;
  }
}
//
// Lists
//

// Unstyled
// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-bare {
  padding-left: 0;
  list-style: none;
}

// Inline style
// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}


//
// divider
//

.divider,
.divider-lg,
.divider-sm {
  border-top: 1px solid $divider-color;
}

.divider {
  margin-top: $divider-margin;
  margin-bottom: $divider-margin;
}

.divider-lg {
  margin-top: $divider-margin-lg;
  margin-bottom: $divider-margin-lg;
}

.divider-sm {
  margin-top: $divider-margin-sm;
  margin-bottom: $divider-margin-sm;
}