// Badge
//
//
//

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

//
// Colors
//
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}