// Navbar
//
//
//

.navbar {
  position: relative;
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: $navbar-light-bg;
  @include clearfix;

  @include media-breakpoint-up(sm) {
    @if $enable-rounded {
      @include border-radius($navbar-border-radius);
    }
  }

  a {
    border: none ;
    &:hover {
      border: none ;
    }
  }
}

// Navbar collapse
//
.navbar-collapse {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// navbar nav
//
.navbar-nav {
  li,
  li:hover  {
    border: none !important;
  }

  > li {
    > a {
      background-color: $navbar-light-bg;
      color: $navbar-light-color;
      font-weight: 400;
      &:hover {
        color: $navbar-light-hover-color;
      }
    }
  }
}

//
// Brand/project name
//

.navbar-brand {
  float: left;
  margin-right: 1rem;
  padding-top:    .25rem;
  padding-bottom: .25rem;
  background-color: $navbar-light-bg;
  color: $navbar-light-color;
  font-size: $navbar-brand-font-size;
  font-weight: $navbar-brand-font-weight;

  @include hover-focus {
    text-decoration: none;
    color:　$navbar-light-hover-color;
  }

  > img {
    display: block;
  }
}

//
// Position
// Fix the top/bottom navbars when screen real estate supports it

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    @include border-radius(0);
  }
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-navbar-sticky;
  width: 100%;

  @include media-breakpoint-up(sm) {
    @include border-radius(0);
  }
}


// navbar-dark
//
//
.navbar-dark {
  background-color: $navbar-dark-bg;

  .navbar-brand {
    color: $navbar-dark-color;
    background-color: $navbar-dark-bg;
    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    > li {
      > a {
        background-color: $navbar-dark-bg;
        color: $navbar-dark-color;
        &:hover {
          color: $navbar-dark-hover-color;
        }
      }
    }
  }
}

