// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;

  @if $enable-rounded {
    @include border-radius($border-radius);
  }

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }
}


// Nav inline

.nav-inline {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}


//
// Tabs
//

.nav-tabs {
  background-color: $nav-tabs-active-link-hover-bg;
  border-bottom: 1px solid $nav-tabs-border-color;
  @include clearfix();

  .nav-item {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    + .nav-item {
      margin-left: .2rem;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-link-padding;
    border: 1px solid transparent;

    @if $enable-rounded {
      @include border-radius($border-radius $border-radius 0 0);
    }

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }

    &.disabled {
      @include plain-hover-focus {
        color: $nav-disabled-link-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  .nav-link.active,
  .nav-item.active .nav-link {
    @include plain-hover-focus {
      color: $nav-tabs-active-link-hover-color;
      background-color: $nav-tabs-active-link-hover-bg;
      border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
    }
  }
}


//
// pills
//

.nav-pills {
  .nav-item {
    float: left;

    + .nav-item {
      margin-left: .2rem;
    }
  }

  .nav-link {
    display: block;
    padding: $nav-link-padding;
    color: $gray-light;

    @if $enable-rounded {
      @include border-radius($nav-pills-border-radius);
    }

    @include hover-focus {
      color: $gray;
    }
  }

  .nav-link.active,
  .nav-item.active .nav-link {
    @include plain-hover-focus {
      color: $nav-pills-active-link-hover-color;
      cursor: default;
      background-color: $nav-pills-active-link-hover-bg;
    }
  }
}

.nav-vt {
  .nav-item {
    display: block;
    float: none;

    + .nav-item {
      margin-top: .2rem;
      margin-left: 0;
    }
  }
}


//
// Tabbable tabs
//

// Hide tabbable panes to start, show them when `.active`
@keyframes fadeIn {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes fadeOut {
  from{opacity: 1}
  to{opacity: 0}
}
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


//
// Dropdowns
//

.nav-tabs .dropdown-menu {
  // Make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}
