// Base class
//
//
//

.nav {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  list-style: none;

  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.nav > li {
  float: left;
  padding: .37rem .75rem;

  &:not(.dropdown) {
    border: 1px solid transparent;
  }

  @if $enable-rounded {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  > a {
    display: block;
    margin: -.37rem -.75rem;
    padding: .37rem .75rem;
    text-decoration: none;
  }

  &.active:not(.dropdown) {
    background-color: $nav-active-bg;
    a {
      color: $nav-active-color;
    }
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active{
    border-color: transparent;
    a {
      color: $nav-disabled-color;
      cursor: not-allowed;
    }
  }

  & + li {
    margin-left: -1px;
  }
}

.nav {
  & + nav {
    margin-left: $space-base * 2;
  }
}

// Vertical nav
//
.nav-vt {
  > li {
    display: block;
    float: none;

    + li {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

//.nav-link {
//  display: inline-block;
//
//  @include hover-focus {
//    text-decoration: none;
//  }
//
//  &.disabled {
//    color: $nav-disabled-link-color;
//
//    @include plain-hover-focus {
//      color: $nav-disabled-link-hover-color;
//      cursor: $cursor-disabled;
//      background-color: transparent;
//    }
//  }
//}
//
//
//// Nav inline
//
//.nav-inline {
//  .nav-link + .nav-link {
//    margin-left: 1rem;
//  }
//}
//
//
////
//// Tabs
////
//
//.nav-tabs {
//  border-bottom: 1px solid $nav-tabs-border-color;
//  @include clearfix();
//
//  .nav-item {
//    float: left;
//    // Make the list-items overlay the bottom border
//    margin-bottom: -1px;
//
//    + .nav-item {
//      margin-left: .2rem;
//    }
//  }
//
//  .nav-link {
//    display: block;
//    padding: $nav-link-padding;
//    border: 1px solid transparent;
//    @include border-radius($border-radius $border-radius 0 0);
//
//    @include hover-focus {
//      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
//    }
//
//    &.disabled {
//      @include plain-hover-focus {
//        color: $nav-disabled-link-color;
//        background-color: transparent;
//        border-color: transparent;
//      }
//    }
//  }
//
//  .nav-link.active,
//  .nav-item.open .nav-link {
//    @include plain-hover-focus {
//      color: $nav-tabs-active-link-hover-color;
//      background-color: $nav-tabs-active-link-hover-bg;
//      border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
//    }
//  }
//}
//
//
////
//// Pills
////
//
//.nav-pills {
//  .nav-item {
//    float: left;
//
//    + .nav-item {
//      margin-left: .2rem;
//    }
//  }
//
//  .nav-link {
//    display: block;
//    padding: $nav-link-padding;
//    @include border-radius($nav-pills-border-radius);
//  }
//
//  .nav-link.active,
//  .nav-item.open .nav-link {
//    @include plain-hover-focus {
//      color: $component-active-color;
//      cursor: default;
//      background-color: $component-active-bg;
//    }
//  }
//}
//
//.nav-stacked {
//  .nav-item {
//    display: block;
//    float: none;
//
//    + .nav-item {
//      margin-top: .2rem;
//      margin-left: 0;
//    }
//  }
//}
//
//
////
//// Tabbable tabs
////
//
//// Hide tabbable panes to start, show them when `.active`
//.tab-content {
//  > .tab-pane {
//    display: none;
//  }
//  > .active {
//    display: block;
//  }
//}
//
//
////
//// Dropdowns
////
//
//.nav-tabs .dropdown-menu {
//  // Make dropdown border overlap tab border
//  margin-top: -1px;
//  // Remove the top rounded corners here since there is a hard edge above the menu
//  @include border-top-radius(0);
//}
