// Alerts
//

@mixin alert-variant ($background, $border, $color) {
  background-color: $background;
  border: 1px solid $border;
  color: $color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($color, 10%);
  }
}