// Alerts
//
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@mixin alert-variant ($background, $border, $color) {
  background-color: $background;
  border: 1px solid $border;
  color: $color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($color, 10%);
  }
}