// Assists mixins
//
//
//

// Clearfix
//
@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// center
//
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// left
//
@mixin float($float) {
  float: $float;
}

// triangle
//
@mixin triangle($directions: $directions) {
  %triangle-common {
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
  }

  @each $dir in $directions {
    .triangle-#{$dir} {
      @extend %triangle-common;
      @if $dir == up {
        border-bottom: 5px solid #555;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;

        &.disabled,
        &:disabled,
        *.disabled > &,
        *:disabled > & {
          border-bottom-color: #999;
        }
      } @else if($dir == right) {
        border-left: 5px solid #555;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        &.disabled,
        &:disabled,
        *.disabled > &,
        *:disabled > & {
          border-left-color: #999;
        }
      } @else if($dir == down) {
        border-top: 5px solid #555;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;

        &.disabled,
        &:disabled,
        *.disabled > &,
        *:disabled > & {
          border-top-color: #999;
        }
      } @else if($dir == left) {
        border-right: 5px solid #555;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        &.disabled,
        &:disabled,
        *.disabled > &,
        *:disabled > & {
          border-right-color: #999;
        }
      }
    }
  }
}

//
// Text
//

// Alignment
//
//
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Hidden
//
@mixin text-hidden() {
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}