// List Groups

@mixin list-group-variant($state, $background, $color) {
  .list-group-#{$state} {
    .list-group-item,
    a.list-group-item,
    button.list-group-item{

      @include hover-focus {
        color: $color;
        background-color: $background;
      }

      &.active {
        @include plain-hover-focus {
          color: #fff;
          background-color: $background;
          border-color: $background;
        }
      }
    }
  }
}

@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state},
  a.list-group-item-#{$state},
  button.list-group-item-#{$state}{
    color: $color;
    background-color: $background;

    .list-group-item-heading {
      color: inherit;
    }

    @include hover-focus {
      color: $color;
      background-color: darken($background, 5%);
      border-color: $color;
      &:not(:last-child){
        border-bottom-width: 2px;
      }
    }

    &.active {
      @include plain-hover-focus {
        color: #fff;
        background-color: $color;
        border-color: $color;
        //border-bottom-width: 2px;
      }
    }
  }
}
