
@mixin progress-variant($color) {
  border: 1px solid $color;

  .progress-value {
    background-color: $color;
  }

  &[value] {
    &::-webkit-progress-value {
      background-color: $color;
    }

    &::-moz-progress-bar {
      background-color: $color;
    }
  }
}
