<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/flyimt.css"/>
    <link rel="stylesheet" href="../css/tree.css"/>
</head>
<body>
    <ul class="tree">
        <li>111</li>
        <li>222</li>
        <li>333</li>
        <li class="tree-dropdown active">
            aaa
            <ul class="tree">
                <li>111</li>
                <li>222</li>
                <li class="tree-dropdown active">
                    树形图
                    <ul class="tree">
                        <li>111</li>
                        <li>222</li>
                        <li>333</li>
                    </ul></li>
            </ul>
        </li>
        <li>444</li>
        <li class="tree-dropdown">
            555
            <ul class="tree">
                <li>111</li>
                <li>222</li>
                <li>333</li>
            </ul>
        </li>
        <li>666</li>
        <li class="tree-dropdown">
            树形图
            <ul class="tree">
                <li>111</li>
                <li>222</li>
                <li>333</li>
            </ul>
        </li>
    </ul>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/tree.js"></script>
</body>
</html>