//
// Position
//

$positions: static, relative, absolute, fixed, sticky;

@each $position in $positions {
  .pt-#{$position} {
    position: $position !important;

    @if $position == 'fixed' {
      z-index: $zindex-fixed;
    } @else if($position == 'sticky') {
      z-index: $zindex-sticky;
    }
  }
}

.pt-hc {
  @include center-block('h');
}

.pt-vc {
  @include center-block('v');
}

.pt-center {
  @include center-block('');
}

//
// Short
//

.pt-top {
  top: 0 !important;
  left: 0;
  right: 0;
}

.pt-bottom {
  right: 0;
  bottom: 0 !important;
  left: 0;
}

.pt-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
}