<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/yyui.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">"lead"类使该段文字突出！</p>
      <h4>Text Alignment</h4>
      <p class="text-left">text-left, 这是左对齐</p>
      <p class="text-right">text-right, 这是右对齐</p>
      <p class="text-center">text-center, 这是居中对齐</p>
      <div class="row">
        <p class="text-justify col-sm-6" style="width: 260px;">text-justify, jiazadianyingwen这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐</p>
        <p class=" col-sm-6" style="width: 260px;">这是两端对不齐, jazadianyingwen这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐</p>
      </div>
      <p class="text-nowrap" style="width: 100px;">text-nowrap, 这是不碰到 “br” 不换行的犟驴子，本段宽度只有100px，不信的话你看看，这段话才只100px么，但是它就是不换行 </p>
      <p class="text-truncate" style="width: 260px;">text-truncate, 这是截断文本, 要设置宽度,省略号显示</p>

      <h4>更改大小写，针对英文和拼音</h4>
      <p class="text-uppercase">this is my framewoek.</p>
      <p class="text-lowercase">THIS IS MY FRAMEWORK.</p>
      <p class="text-capitalize">this is my framewoek.</p>

      <h4>字体</h4>
      <p class="text-paper">hello, I'm serif typeface. 衬线字体，一般用于纸质印刷.</p>
      <p class="text-web">hello, I'm sans-serif typeface. 非衬线字体，一般用于电子产品.</p>
      <p class="text-letter">hello, I'm letter typeface. 用于显示字母文本. function getDseidotHefadf(type, option) { }</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>List-none</h4>
      <ul class="list-none">
        <li>无样式列表</li>
        <li>无样式列表</li>
        <li>无样式列表</li>
      </ul>
      <h4>List-inline</h4>
      <ul class="list-inline">
        <li>内联列表</li>
        <li>内联列表</li>
        <li>内联列表</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Floats</h4>
      <span class="center" style="width: 32px;">居中</span>
      <span class="f-l">左浮动</span>
      <span class="f-r">右浮动</span>

      <div class="clearfix"></div>
      <h4>Text Colors</h4>
      <p class="text-primary">这是主文本颜色</p>
      <p class="text-secondary">这是次文本颜色</p>
      <p class="text-success">这是成功文本颜色</p>
      <p class="text-info">这是消息文本颜色</p>
      <p class="text-warning">这是警告文本颜色</p>
      <p class="text-danger">这是错误文本颜色</p>
      <p class="text-muted">这是灰色文本颜色</p>
      <p class="text-dark">这是黑色文本颜色</p>
      <p class="text-light">这是白色文本颜色</p>

      <p class="bg-primary">这是主文本颜色</p>
      <p class="bg-secondary">这是次文本颜色</p>
      <p class="bg-info">这是成功文本颜色</p>
      <p class="bg-success">这是消息文本颜色</p>
      <p class="bg-warning">这是警告文本颜色</p>
      <p class="bg-danger">这是错误文本颜色</p>
      <p class="bg-muted">这是灰色文本颜色</p>
      <p class="bg-dark">这是黑色文本颜色</p>
      <p class="bg-light">这是白色文本颜色</p>
      <p class="bg-perspective">这是透明的</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>关闭按钮</h4>
      <p class="text-info">这里的`×`是乘号，不是字母x。或者使用其转义字符"&amp;times;" 和 "&amp;#215;"</p>
      <button class="close">&times;</button>
      <br/>
      <h4>小三角</h4>
      <div class="triangle-up"></div>
      <div class="triangle-down"></div>
      <div class="triangle-left"></div>
      <div class="triangle-right"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>字体大小</h4>
      <p class="font-12">font-12, 12px</p>
      <p class="font-13">font-13, 13px</p>
      <p class="font-14">font-13, 14px</p>
      <p class="font-15">font-15, 15px</p>
      <p class="font-16">font-16, 16px</p>
      <p class="font-17">font-17, 17px</p>
      <p class="font-18">font-18, 18px</p>
      <p class="font-19">font-19, 19px</p>
      <p class="font-20">font-20, 20px</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>边框</h4>
      <p class="bg-primary border-none">无边框</p>
      <p class="bg-primary border-square">直角边框</p>
      <p class="bg-primary border-round">圆角边框</p>
      <p class="bg-primary border-circle">圆型边框</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="divider"></div>
      <div class="divider-sm"></div>
      <div class="divider-lg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>快速定位</h4>
       <p>.pt-relative</p>
       <p>.pt-sticky</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>pt-hc, pt-vc, pt-center </h4>
      <div class="pt-relative" style="width: 100%; height: 200px; background-color: red;">
        <div class="pt-hc" style="width: 100px; height: 100px; background-color: #fff">

        </div>
        <div class="pt-vc" style="width: 100px; height: 100px; background-color: #fff">

        </div>

        <div class="pt-center" style="width: 100px; height: 100px; background-color: #fff">

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>