<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/flyimt.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">"lead"类使该段文字突出！</p>
      <h4>Text Alignment</h4>
      <p class="text-left">text-left, 这是左对齐</p>
      <p class="text-right">text-right, 这是右对齐</p>
      <p class="text-center">text-center, 这是居中对齐</p>
      <div class="row">
        <p class="text-justify col-sm-6" style="width: 260px;">text-justify, jiazadianyingwen这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐</p>
        <p class=" col-sm-6" style="width: 260px;">这是两端对不齐, jazadianyingwen这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐, 这是两端对不齐</p>
      </div>
      <p class="text-nowrap" style="width: 260px;">text-nowrap, 这是不碰到 “br” 不换行的犟驴子，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看，不信的话你看看 </p>
      <p class="text-truncate" style="width: 260px;">text-truncate, 这是截断文本, 要设置宽度,省略号显示</p>
    </div>
  </div>

</div>
</body>
</html>