<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
  <style>
    div {
      height: 100px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="bg-primary"></div>
  <div class="bg-secondary"></div>
  <div class="bg-success"></div>
  <div class="bg-info"></div>
  <div class="bg-warning"></div>
  <div class="bg-danger"></div>
  <div class="bg-white"></div>
  <div class="bg-light"></div>
  <div class="bg-muted"></div>
  <div class="bg-dark"></div>
  <div class="bg-black"></div>
  <div class="bg-transparent"></div>
</body>
</html>