<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>固定</h4>
      <p class="font-12">font size class font-12</p>
      <p class="font-13">font size class font-13</p>
      <p class="font-14">font size class font-14</p>
      <p class="font-15">font size class font-15</p>
      <p class="font-16">font size class font-16</p>
      <p class="font-17">font size class font-17</p>
      <p class="font-18">font size class font-18</p>
      <p class="font-19">font size class font-19</p>
      <p class="font-20">font size class font-20</p>

      <h4>倍</h4>
      <p class="font-1x">font size class font-1x</p>
      <p class="font-2x">font size class font-2x</p>
      <p class="font-3x">font size class font-3x</p>
      <p class="font-4x">font size class font-4x</p>
      <p class="font-5x">font size class font-5x</p>
      <p class="font-6x">font size class font-6x</p>
      <p class="font-7x">font size class font-7x</p>
      <p class="font-8x">font size class font-8x</p>
      <p class="font-9x">font size class font-9x</p>
      <p class="font-10x">font size class font-10x</p>

      <h4>weight</h4>
      <p class="font-100">font weight class font-100</p>
      <p class="font-200">font weight class font-200</p>
      <p class="font-300">font weight class font-300</p>
      <p class="font-400">font weight class font-400</p>
      <p class="font-500">font weight class font-500</p>
      <p class="font-600">font weight class font-600</p>
      <p class="font-700">font weight class font-700</p>
      <p class="font-800">font weight class font-800</p>
      <p class="font-900">font weight class font-900</p>
      <p class="font-bold">font weight class font-bold, same as font-700</p>
      <p class="font-bolder">font weight class font-bolder</p>
      <p class="font-lighter">font weight class font-lighter</p>
    </div>
  </div>
</div>
</body>
</html>