<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div>
  <h1>Brand Buttons</h1>
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Primary</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
</div>
<br/>
<div>
  <h1>Outline Buttons</h1>
  <button type="button" class="btn btn-default-outline">Default</button>
  <button type="button" class="btn btn-primary-outline">Primary</button>
  <button type="button" class="btn btn-secondary-outline">Primary</button>
  <button type="button" class="btn btn-info-outline">Info</button>
  <button type="button" class="btn btn-success-outline">Success</button>
  <button type="button" class="btn btn-warning-outline">Warning</button>
  <button type="button" class="btn btn-danger-outline">Danger</button>
</div>
<br/>
<div>
  <h1>Link Buttons</h1>
  <button type="button" class="btn btn-link">Link</button>
</div>
<br/>
<div>
  <h1>Button Size</h1>
  <button type="button" class="btn btn-primary btn-xs">xsmall</button>
  <button type="button" class="btn btn-primary btn-sm">small</button>
  <button type="button" class="btn btn-primary">Default</button>
  <button type="button" class="btn btn-primary btn-lg">large</button>
</div
<div>
  <h1>Round Buttons</h1>
  <button type="button" class="btn btn-primary btn-round">Round Button</button>
  <button type="button" class="btn btn-secondary btn-circle">Circle Button</button>
</div>
<br/>
<div>
  <h1>Block Buttons</h1>
  <button type="button" class="btn btn-primary btn-block">Block Button</button>
  <button type="button" class="btn btn-secondary btn-block">Block Button</button>
</div>
</body>
</html>