<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>Code</h4>
  <code>
    &lt;html&gt;
    &lt;/html&gt;
  </code>

  <h4>pre</h4>
      <pre>
        <span class="note">使用webstorm的样式</span><br/>
        <<span class="label">tr</span><span class="attr">class</span><span class="value">active</span>><br/>
        &nbsp;&nbsp;<<span class="label">td</span>>dfadfasfspan<<span class="label">/td</span>><br/>
        <<span class="label">/tr</span>>
      </pre>

  <h4>&lt;kbd&gt;</h4>
  <p>按住<kbd>tab</kbd>键</p>
</div>
<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/yyui.min.js"></script>
</body>
</html>