<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>Code</h4>
  <code>JavaScirpt</code>

  <h4>var</h4>
  <var>y</var> = <var>m</var><var>x</var> + <var>y</var>

  <h4>pre</h4>
  <pre>
    哈哈
      哈哈哈
        哈哈哈哈
  </pre>

  <h4>&lt;kbd&gt;</h4>
  <p>按住<kbd>tab</kbd>键</p>

</div>
<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/yyui.min.js"></script>
</body>
</html>