<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

      <div class="bg-dark" style="height:100px;">

      </div>
    </div>
  </div>
</div>

<!--<script src="../lib/jquery-1.12.4.min.js"></script>-->
<!--<script src="../js/util.js"></script>-->
<!--<script src="../js/collapse.js"></script>-->
<script src="../dist/js/jquery.min.js"></script>
<script src="../dist/js/popper.min.js"></script>
<script src="../dist/js/yyui.js"></script>
</body>
</html>