<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-2"><p class="elf elf-primary">test</p></div>
      <div class="col-2"><p class="elf elf-secondary">test elf</p></div>
      <div class="col-2"><p class="elf elf-info">test elf</p></div>
      <div class="col-2"><p class="elf elf-success">test elf</p></div>
      <div class="col-2"><p class="elf elf-warning">test elf</p></div>
      <div class="col-2"><p class="elf elf-danger">test elf</p></div>
      <div class="col-2"><p class="elf elf-light">test elf</p></div>
      <div class="col-2"><p class="elf elf-dark">test elf</p></div>
    </div>

    <div class="row">
      <div class="col-2"><p class="elf elf-primary-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-secondary-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-info-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-success-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-warning-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-danger-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-light-prev">test elf</p></div>
      <div class="col-2"><p class="elf elf-dark-prev">test elf</p></div>
    </div>
  </div>
</body>
</html>