<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>none</h4>
      <span class="badge"></span>

      <h4>badge-pill</h4>
      <span class="badge badge-primary badge-pill">徽章</span>

      <h4>btn</h4>
      <button class="btn btn-primary"> 按钮 <span class="badge badge-light">徽章</span></button>

      <h4>style</h4>
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-danger">Danger</span>
      <span class="badge badge-white">White</span>
      <span class="badge badge-light">Light</span>
      <span class="badge badge-muted">Muted</span>
      <span class="badge badge-dark">Dark</span>
      <span class="badge badge-black">Black</span>
      <span class="badge badge-transparent">Transparent</span>

      <h4>Links</h4>
      <a href="#" class="badge badge-primary">Primary</a>
      <a href="#" class="badge badge-secondary">Secondary</a>
      <a href="#" class="badge badge-success">Success</a>
      <a href="#" class="badge badge-info">Info</a>
      <a href="#" class="badge badge-warning">Warning</a>
      <a href="#" class="badge badge-danger">Danger</a>
      <a href="#" class="badge badge-white">White</a>
      <a href="#" class="badge badge-light">Light</a>
      <a href="#" class="badge badge-muted">Muted</a>
      <a href="#" class="badge badge-dark">Dark</a>
      <a href="#" class="badge badge-black">Black</a>
      <a href="#" class="badge badge-transparent">Transparent</a>
    </div>
  </div>
</div>
</body>
</html>