<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="">
        <fieldset class="form-group">
          <label>Text</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset class="form-group">
          <label>Select</label>
          <div class="select">
            <select class="form-control" name="" id="33">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
            <div class="triangle-down"></div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>radio</label>
          <div class="radio">
            <label>
              <input type="radio" name="radio1"/>默认radio
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="radio1"/>this is default redio.
            </label>
          </div>
          <label>inline radio</label>
          <br/>
          <div class="radio-inline">
            <label>
              <input type="radio" name="radio2"/>默认radio
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="radio2"/>this is default radio.
            </label>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>checkBox</label>
          <div class="checkbox">
            <label>
              <input type="checkbox"/>默认checkbox
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/>this is default checkbox.
            </label>
          </div>
          <label>inline checkBox</label>
          <br/>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox"/>默认checkbox
            </label>
          </div>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox"/>this is default checkbox.
            </label>
          </div>
          <br/>
          <div class="checkbox-switch">
            <input id="example" type="checkbox">
            <label for="example">Check</label>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>