<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="">
        <h4>form-control</h4>
        <fieldset>
          <label>large</label>
          <input type="text" class="form-control form-control-lg" placeholder="user name"/>
        </fieldset>
        <fieldset>
          <label>default</label>
          <input type="text" class="form-control" placeholder="user name"/><br/>
          <input type="text" class="form-control form-control-success" placeholder="user name"/><br/>
          <input type="text" class="form-control form-control-warning" placeholder="user name"/><br/>
          <input type="text" class="form-control form-control-error" placeholder="user name"/>
        </fieldset>
        <fieldset>
          <label>small</label>
          <input type="text" class="form-control form-control-sm" placeholder="user name"/>
        </fieldset>

        <h4>fieldset</h4>
        <fieldset class="fieldset-lg">
          <label>form group large</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset>
          <label>form group default</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset class="fieldset-sm">
          <label>form group small</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset>
          <label>Select</label>
          <div class="select">
            <select class="form-control" name="" id="33">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
            <div class="triangle-down"></div>
          </div>
        </fieldset>
        <fieldset>
          <label>radio</label>
          <div class="radio">
            <input id="raido_1_1" type="radio"  name="radio1" checked/>
            <label for="raido_1_1">默认radio</label>
          </div>
          <div class="radio radio-primary">
            <input id="raido_1_2" type="radio"  name="radio1"/>
            <label for="raido_1_2">radio-primary</label>
          </div>
          <div class="radio radio-secondary">
            <input id="raido_1_3" type="radio"  name="radio1"/>
            <label for="raido_1_3">radio-secondary</label>
          </div>
          <div class="radio radio-success">
            <input id="raido_1_4" type="radio"  name="radio1"/>
            <label for="raido_1_4">radio-success</label>
          </div>
          <div class="radio radio-info">
            <input id="raido_1_5" type="radio"  name="radio1"/>
            <label for="raido_1_5">radio-info</label>
          </div>
          <div class="radio radio-warning">
            <input id="raido_1_6" type="radio"  name="radio1"/>
            <label for="raido_1_6">radio-warning</label>
          </div>
          <div class="radio radio-danger">
            <input id="raido_1_7" type="radio"  name="radio1"/>
            <label for="raido_1_7">radio-danger</label>
          </div>
          <div class="radio disabled">
            <input id="raido_1_8" type="radio"  name="radio1" disabled/>
            <label for="raido_1_8">disabled</label>
          </div>
          <label>inline radio</label>
          <br/>
          <div class="radio-inline">
            <input id="" type="radio"  name="radio2" checked/>
            <label for="">默认radio</label>
          </div>
          <div class="radio-inline">
            <input id="" type="radio"  name="radio2"/>
            <label for="">默认radio</label>
          </div>
        </fieldset>


          <label>checkBox</label>
          <div class="checkbox">
            <input id="" type="checkbox" name="checkbox1" checked/>
            <label for="">默认checkbox</label>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="checkbox_1_2" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_2">checkbox-primary</label>
          </div>
          <div class="checkbox checkbox-secondary">
            <input id="checkbox_1_3" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_3">checkbox-secondary</label>
          </div>
          <div class="checkbox checkbox-success">
            <input id="checkbox_1_4" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_4">checkbox-success</label>
          </div>
          <div class="checkbox checkbox-info">
            <input id="checkbox_1_5" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_5">checkbox-info</label>
          </div>
          <div class="checkbox checkbox-warning">
            <input id="checkbox_1_6" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_6">checkbox-warning</label>
          </div>
          <div class="checkbox checkbox-danger">
            <input id="checkbox_1_7" type="checkbox" name="checkbox1"/>
            <label for="checkbox_1_7">checkbox-danger</label>
          </div>
          <div class="checkbox disabled">
            <input id="checkbox_1_8" type="checkbox" name="checkbox1" disabled/>
            <label for="checkbox_1_8">disabled</label>
          </div>
          <label>inline checkBox</label>
          <br/>
          <div class="checkbox-inline">
            <input id="checkbox_2_1" type="checkbox" name="checkbox2" checked/>
            <label for="checkbox_2_1">默认checkbox</label>
          </div>
          <div class="checkbox-inline">
            <input id="checkbox_2_2" type="checkbox" name="checkbox2"/>
            <label for="checkbox_2_2">默认checkbox</label>
          </div>
          <br/>
          <h4>checkbox-switch-lg</h4>
          <div class="checkbox-switch checkbox-switch-lg">
            <input id="example1" type="checkbox" checked>
            <label for="example1">Check</label>
          </div>
          <br/>
          <label>checkbox-switch</label><br/>
          <div class="checkbox-switch">
            <input id="example2" type="checkbox" checked>
            <label for="example2">Check</label>
          </div>
          <div class="checkbox-switch checkbox-switch-secondary">
            <input id="example3" type="checkbox" checked>
            <label for="example3">Check</label>
          </div>
          <div class="checkbox-switch checkbox-switch-success">
            <input id="example4" type="checkbox" checked>
            <label for="example4">Check</label>
          </div>
          <div class="checkbox-switch checkbox-switch-info">
            <input id="example5" type="checkbox" checked>
            <label for="example5">Check</label>
          </div>
          <div class="checkbox-switch checkbox-switch-warning">
            <input id="example6" type="checkbox" checked>
            <label for="example6">Check</label>
          </div>
          <div class="checkbox-switch checkbox-switch-danger">
            <input id="example7" type="checkbox" checked>
            <label for="example7">Check</label>
          </div>
          <br/>
          <label>checkbox-switch-sm</label><br/>
          <div class="checkbox-switch checkbox-switch-sm">
            <input id="example8" type="checkbox" checked>
            <label for="example8">Check</label>
          </div>
          <br/>
          <label>disabled</label><br/>
          <div class="checkbox-switch disabled">
            <input id="example9" type="checkbox" disabled>
            <label for="example9">Check</label>
          </div>

        <h4>File</h4>
        <fieldset>
          <div class="form-file">
            <input type="file" class="form-control" name="upload"/>
            <label class="file-surface">点击上传</label>
          </div>
        </fieldset>
        <h4>Status</h4>
        <fieldset class="fieldset-success">
          <label>success</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset class="fieldset-warning">
          <label>warning</label>
          <input type="text" class="form-control" placeholder="user name"/>
          <span class="form-control-feedback">
            给你一个小小的警告
          </span>
        </fieldset>

        <fieldset class="fieldset-error">
          <label>error</label>
          <input type="text" class="form-control" placeholder="user name"/>
          <span class="form-control-feedback">
            这里输入有错哦
          </span>
        </fieldset>
      </form>

      <h1>Form horizontal</h1>
      <form class="form-hz">
        <fieldset>
          <label class="col-xs-3 form-control-label">User Name</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="enter user name"/>
          </div>
        </fieldset>
        <fieldset>
          <label class="col-xs-3 form-control-label">password</label>
          <div class="col-xs-9">
            <input type="password" class="form-control" placeholder="enter password"/>
          </div>
        </fieldset>
      </form>

      <h1>Form inline</h1>
      <form class="form-inline">
        <fieldset>
          <label>error</label>
          <input type="text" class="form-control" placeholder="user name"/>
        </fieldset>

        <fieldset>
          <label>error</label>
          <input type="password" class="form-control" placeholder="password"/>
        </fieldset>
        <button class="btn btn-default" type="button">submit</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>