<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>Image</h4>
  <img class="img-fluid" src="../img/haimian.jpg" alt=""/>

  <img class="border-round" src="../img/haimian.jpg" alt=""/>
  <img class="border-round-circle" src="../img/haimian.jpg" alt=""/>
  <img class="img-thumbnail" src="../img/haimian.jpg" alt=""/>
</div>
<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/yyui.min.js"></script>
</body>
</html>