<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>Image</h4>
  <img class="img-responsive" src="../img/海绵宝宝.jpg" alt=""/>
  <img class="img-round" src="../img/海绵宝宝.jpg" alt=""/>
  <img class="img-circle" src="../img/海绵宝宝.jpg" alt=""/>
  <img class="img-thumbnail" src="../img/海绵宝宝.jpg" alt=""/>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/flyimt.min.js"></script>
</body>
</html>