<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Input group</h1>
      <div class="input-group input-group-lg">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
        <span class="input-group-addon">.00</span>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-sm">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon">&#8629;</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <h4>Size</h4>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-default">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-default">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-default">search</button>
        </div>
      </div>

      <h4>situation</h4>
      <div class="input-group input-group-primary">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-primary">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-secondary">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-secondary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-secondary">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-success">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-success">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-success">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-info">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-info">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-info">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-warning">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-warning">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-warning">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <br/>
      <div class="input-group input-group-danger">
        <input type="text" class="form-control" placeholder="ddafdafsdf"/>
        <div class="input-group-btn">
          <button class="btn btn-danger">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-danger">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <h4>underline</h4>
      <div class="input-group input-group-underline">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-default-outline">search</button>
        </div>
      </div>
      <br/>
      <h4>round</h4>
      <div class="input-group input-group-primary input-group-round">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary-outline">search</button>
        </div>
      </div>
      <br/>
      <h4>circle</h4>
      <div class="input-group input-group-primary input-group-circle">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary-outline">search</button>
        </div>
      </div>
      <br/>
      <h4>下拉</h4>
      <div class="input-group">
        <div class="input-group-btn">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle dropdown-toggle-hover">dropdown</button>
            <ul class="dropdown-menu">
              <li class="dropdown-item disabled">Action</li>
              <li class="dropdown-item"><a href="javascript:;">Another action</a></li>
              <li class="dropdown-header">Another action</li>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
              <li><a class="dropdown-item" href="javascript:;">Separated link</a></li>
            </ul>
          </div>
        </div>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>