<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Input group</h1>

      <div class="input-group input-group-lg">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
        <span class="input-group-addon">.00</span>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-sm">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-power-off"></i></span>
        <input type="text" class="form-control"/>
      </div>
      <br/>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-lg input-group-block">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-block">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
      <br/>
      <div class="input-group input-group-sm input-group-block">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button class="btn btn-primary">search</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>