<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1>这是大巨幕</h1>
        <p>On Friday night, London sought to distinguish itself from Beijing's 2008 spectacular by joining spectators
          and technology into an unusual team for the opening ceremony of the 2012 Olympics: the human Jumbotron.
        </p>

        <p>
          周五晚上，为了显示出自己有别于2008年北京奥运会盛大开幕式的独具一格的一面，2012年伦敦奥运会开幕式罕见地将现场观众和现代科技融为一体，由真人元素构成了一面超大屏幕。</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>