<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <span class="label label-default">default</span>
  <span class="label label-primary">primary</span>
  <span class="label label-secondary">secondary</span>
  <span class="label label-success">success</span>
  <span class="label label-info">info</span>
  <span class="label label-warning">warning</span>
  <span class="label label-danger">danger</span>
  <h4>徽章</h4>
  <span class="label label-default label-badge">徽章</span>
</div>

<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/collapse.js"></script>
</body>
</html>