<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2">
      <h4>Default</h4>
      <ul class="list-group">
        <li class="list-group-item">百度</li>
        <li class="list-group-item">阿里</li>
        <li class="list-group-item">腾讯</li>
      </ul>
      <br/>
      <h4>list-group-flush</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">list-group-item</li>
        <li class="list-group-item">list-group-item</li>
        <li class="list-group-item">list-group-item</li>
      </ul>
      <br/>
      <h4>list-group-noborder</h4>
      <ul class="list-group list-group-noborder">
        <li class="list-group-item">list-group-item</li>
        <li class="list-group-item">list-group-item</li>
        <li class="list-group-item">list-group-item</li>
      </ul>
      <br/>
      <h4>anchor</h4>
      <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;">百度</a></li>
        <li class="list-group-item"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>disabled</h4>
      <ul class="list-group">
        <li class="list-group-item disabled"><a href="javascript:;">百度</a></li>
        <li class="list-group-item"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>active</h4>
      <ul class="list-group">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>primary</h4>
      <ul class="list-group list-group-primary">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>secondary</h4>
      <ul class="list-group list-group-secondary">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>success</h4>
      <ul class="list-group list-group-success">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>info</h4>
      <ul class="list-group list-group-info ">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>warning</h4>
      <ul class="list-group list-group-warning">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <h4>danger</h4>
      <ul class="list-group list-group-danger">
        <li class="list-group-item active"><a href="javascript:;">百度</a></li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>

      <br/>
      <h4>详细列表</h4>
      <ul class="list-group">
        <li class="list-group-item active">
          <a href="javascript:;">
            <h4 class="list-group-item-heading">百度</h4>
            <p class="list-group-item-text">百度旗下有百度百科，百度知道，百度图片，百度音乐。。。</p>
          </a>
        </li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <ul class="list-group list-group-primary">
        <li class="list-group-item active">
          <a href="javascript:;">
            <h4 class="list-group-item-heading">百度</h4>
            <p class="list-group-item-text">百度旗下有百度百科，百度知道，百度图片，百度音乐。。。</p>
          </a>
        </li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
      <br/>
      <ul class="list-group list-group-success">
        <li class="list-group-item active">
          <a href="javascript:;">
            <h4 class="list-group-item-heading">百度</h4>
            <p class="list-group-item-text">百度旗下有百度百科，百度知道，百度图片，百度音乐。。。</p>
          </a>
        </li>
        <li class="list-group-item disabled"><a href="javascript:;">阿里</a></li>
        <li class="list-group-item"><a href="javascript:;">腾讯</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/alert.js"></script>
</body>
</html>