<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
  <style>
    body {
      background-color: #0078d7;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span style="font-size: 25px;">Loading</span>
        <div class="loader-win-bar">
          <span class="l-1"></span>
          <span class="l-2"></span>
          <span class="l-3"></span>
          <span class="l-4"></span>
          <span class="l-5"></span>
          <span class="l-6"></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>