<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
  <style>
    .loader-wrap {
      float: left;
      width: 200px;
      height: 200px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!--<h2>loader-win-bar</h2>-->
    <!--<div class="loader-wrap bg-primary">-->
      <!--<div class="loader loader-win-bar">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-primary">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-secondary">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-success">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-info">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-warning">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-danger">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-muted">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-bar loader-dark">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="clearfix"></div>-->
    <!--<h2>loader-win-roll</h2>-->
    <!--<div class="loader-wrap bg-primary">-->
      <!--<div class="loader loader-win-roll">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-primary">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-secondary">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-success">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-info">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-warning">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-danger">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-muted">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="loader-wrap">-->
      <!--<div class="loader loader-win-roll loader-dark">-->
        <!--<span class="l-1"></span>-->
        <!--<span class="l-2"></span>-->
        <!--<span class="l-3"></span>-->
        <!--<span class="l-4"></span>-->
        <!--<span class="l-5"></span>-->
      <!--</div>-->
    <!--</div>-->

    <div class="clearfix"></div>
    <h2>Size</h2>
    <div class="loader-wrap bg-primary">
      <div class="loader loader-win-bar loader-sm">
        <span class="l-1"></span>
        <span class="l-2"></span>
        <span class="l-3"></span>
        <span class="l-4"></span>
        <span class="l-5"></span>
      </div>
    </div>
    <div class="loader-wrap bg-primary">
      <div class="loader loader-win-bar loader-lg">
        <span class="l-1"></span>
        <span class="l-2"></span>
        <span class="l-3"></span>
        <span class="l-4"></span>
        <span class="l-5"></span>
      </div>
    </div>
    <div class="loader-wrap bg-primary">
      <div class="loader loader-win-roll">
        <span class="l-1"></span>
        <span class="l-2"></span>
        <span class="l-3"></span>
        <span class="l-4"></span>
        <span class="l-5"></span>
      </div>
    </div>
    <div class="loader-wrap bg-primary">
      <div class="loader loader-win-roll loader-sm">
        <span class="l-1"></span>
        <span class="l-2"></span>
        <span class="l-3"></span>
        <span class="l-4"></span>
        <span class="l-5"></span>
      </div>
    </div>
    <div class="loader-wrap bg-primary">
      <div class="loader loader-win-roll loader-lg">
        <span class="l-1"></span>
        <span class="l-2"></span>
        <span class="l-3"></span>
        <span class="l-4"></span>
        <span class="l-5"></span>
      </div>
    </div>
  </div>
</body>
</html>