<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="media">
    <div class="media-left">
      <img src="" alt=""/>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="javascript:;">昵称</a><small class="">2015.6.3</small></h4>
      <p>
        这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
        允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
      </p>
    </div>

    <div class="media">
      <div class="media-body">
        <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
        <p>
          这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
          允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
        </p>

        <div class="media">
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>

          <div class="media-left">
            <img src="" alt=""/>
          </div>
        </div>
      </div>

      <div class="media-right">
        <img src="" alt=""/>
      </div>
    </div>
  </div>

  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <img src="" alt=""/>
      </div>
      <div class="media-body">
        <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
        <p>
          这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
          允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
        </p>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="media">
      <div class="media-left">
        <img src="" alt=""/>
      </div>
      <div class="media-body">
        <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
        <p>
          这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
          允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
        </p>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <img src="" alt=""/>
          </div>
          <div class="media-body">
            <h5 class="media-heading">这是media<small class="f-r">2015.6.32</small></h5>
            <p>
              这是一个抽象的样式，用以构建不同类型的组件，这些组件都具有在文本内容的左或右侧对齐的图片（就像博客评论或 Twitter 消息等）。
              允许在一个内容块的左边或右边展示一个多媒体内容（图像、视频、音频）。
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/alert.js"></script>
</body>
</html>