<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="javascript:;">item</a></li>
    <li><a href="javascript:;">item</a></li>
    <li><a href="javascript:;">item</a></li>
  </ol>
</div>

<script src="../jquery-1.11.1.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/collapse.js"></script>
</body>
</html>