<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="">商标</a>
    <div class="navbar-divider"></div>
    <ul class="nav nav-brands navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="javascript:;">Item</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:;">Item</a></li>
      <li class="nav-item disabled"><a class="nav-link" href="javascript:;">Item</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;">dropdown</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="javascript:;">item</a></li>
          <li class="dropdown-item"><a href="javascript:;">item</a></li>
          <li class="dropdown-item"><a href="javascript:;">item</a></li>
        </ul>
      </li>
    </ul>
    <div class="navbar-form">
      <input class="form-control" type="text"/>
    </div>
  </div>
</nav>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/dropdown.js"></script>
</body>
</html>