<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<header>
  <h4>default</h4>
  <nav class="navbar">
    <div class="container">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar1">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="javascript:;">商标</a>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav right">
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:;">项目</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
            </ul>
          </li>
        </ul>
        <div class="right">
          <input class="form-control" type="text" placeholder="Searching..."/>
        </div>
      </div>
    </div>
  </nav>
  <h4>dark</h4>
  <nav class="navbar navbar-dark">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar2">
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="javascript:;">商标</a>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav right">
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:;">项目</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
            </ul>
          </li>
        </ul>
        <div class="right">
          <input class="form-control" type="text" placeholder="Searching..."/>
        </div>
      </div>
    </div>
  </nav>

  <h4>theme</h4>
  <nav class="navbar navbar-theme">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar3">
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="javascript:;">商标</a>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:;">项目</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h4>perspective</h4>
  <nav class="navbar navbar-theme navbar-perspective" style="background-image: url(../img/index-bg.png)">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar4">
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="javascript:;">商标</a>
      <div id="navbar4" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li><a href="javascript:;">项目</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:;">项目</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
              <li class="dropdown-item"><a href="javascript:;">项目</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script src="../jquery-1.11.1.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/collapse.js"></script>
</body>
</html>