<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <p>&#171;用"&amp;#171;"或"&amp;laquo;"</p>
  <p>&#171;用"&amp;#187;"或"&amp;raquo;"</p>
  <h4>默认分页</h4>
  <nav>
    <ul class="pagination">
      <li class="active"><a href="javascript:;">&laquo;</a></li>
      <li><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
      <li><a href="javascript:;">4</a></li>
      <li><a href="javascript:;">&raquo;</a></li>
    </ul>
  </nav>
  <h4>带边框的分页</h4>
  <nav>
    <ul class="pagination pagination-border">
      <li class="active"><a href="javascript:;">&laquo;</a></li>
      <li><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
      <li><a href="javascript:;">4</a></li>
      <li><a href="javascript:;">&raquo;</a></li>
    </ul>
  </nav>
  <h4>pagination-lg</h4>
  <nav>
    <ul class="pagination pagination-lg">
      <li class="active"><a href="javascript:;">&laquo;</a></li>
      <li><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
      <li><a href="javascript:;">4</a></li>
      <li><a href="javascript:;">&raquo;</a></li>
    </ul>
  </nav>
  <h4>pagination-sm</h4>
  <nav>
    <ul class="pagination pagination-sm">
      <li class="active"><a href="javascript:;">&laquo;</a></li>
      <li><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
      <li><a href="javascript:;">4</a></li>
      <li><a href="javascript:;">&raquo;</a></li>
    </ul>
  </nav>

  <h4>翻页</h4>
  <ol class="pager">
    <li><a href="javascript:;">prev</a></li>
    <li><a href="javascript:;">next</a></li>
  </ol>
  <ol class="pager">
    <li class="pager-prev"><a href="javascript:;">prev</a></li>
    <li class="pager-next"><a href="javascript:;">next</a></li>
  </ol>
</div>

<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/dropdown.js"></script>
<script src="../js/collapse.js"></script>
</body>
</html>