<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>progress标签</h4>
  <p>不推荐</p>
  <progress class="mb-10" value="10" max="100"></progress>
  <progress class="mb-10 progress-secondary" value="20" max="100"></progress>
  <progress class="mb-10 progress-dark" value="30" max="100"></progress>
  <progress class="mb-10 progress-success progress-striped" value="40" max="100"></progress>
  <progress class="mb-10 progress-info" value="50" max="100"></progress>
  <progress class="mb-10 progress-warning" value="60" max="100"></progress>
  <progress class="mb-10 progress-danger" value="70" max="100"></progress>
  <h4>条纹 progress-striped</h4>
  <progress class="mb-10 progress-striped" value="50" max="100"></progress>
  <p>用progress标签暂时不支持动画</p>
  <h4>progress Class</h4>
  <div class="mb-10 progress">
    <div class="mb-10 progress-value" style="width: 10%;">10%</div>
  </div>
  <div class="mb-10 progress progress-secondary">
    <div class="mb-10 progress-value" style="width: 20%;">20%</div>
  </div>
  <div class="mb-10 progress progress-dark">
    <div class="mb-10 progress-value" style="width: 30%;">30%</div>
  </div>
  <div class="mb-10 progress progress-success">
    <div class="mb-10 progress-value" style="width: 40%;">40%</div>
  </div>
  <div class="mb-10 progress progress-info">
    <div class="mb-10 progress-value" style="width: 50%;">50%</div>
  </div>
  <div class="mb-10 progress progress-warning">
    <div class="mb-10 progress-value" style="width: 60%;">60%</div>
  </div>
  <div class="mb-10 progress progress-danger">
    <div class="mb-10 progress-value" style="width: 70%;">70%</div>
  </div>
  <h4>条纹 progress-striped</h4>
  <div class="mb-10 progress progress-striped">
    <div class="mb-10 progress-value" style="width: 50%;">50%</div>
  </div>
  <h4>动画 progress-striped progress-animated</h4>
  <div class="mb-10 progress progress-striped progress-animated">
    <div class="mb-10 progress-value" style="width: 50%;">50%</div>
  </div>
</div>

<script src="../jquery-1.12.4.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/alert.js"></script>
</body>
</html>