<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <h4>progress标签</h4>
  <p>不推荐</p>
  <progress value="10" max="100">
    <div class="progress">
      <div class="progress-bar" style="width: 10%;">10%</div>
    </div>
  </progress>
  <progress class="progress-secondary" value="20" max="100"></progress>
  <progress class="progress-gray" value="30" max="100"></progress>
  <progress class="progress-success progress-striped" value="40" max="100"></progress>
  <progress class="progress-info" value="50" max="100"></progress>
  <progress class="progress-warning" value="60" max="100"></progress>
  <progress class="progress-danger" value="70" max="100"></progress>
  <h4>条纹 progress-striped</h4>
  <progress class="progress-striped" value="50" max="100"></progress>
  <p>用progress标签暂时不支持动画</p>
  <h4>progress Class</h4>
  <div class="progress">
    <div class="progress-bar" style="width: 10%;">10%</div>
  </div>
  <div class="progress progress-secondary">
    <div class="progress-bar" style="width: 20%;">20%</div>
  </div>
  <div class="progress progress-gray">
    <div class="progress-bar" style="width: 30%;">30%</div>
  </div>
  <div class="progress progress-success">
    <div class="progress-bar" style="width: 40%;">40%</div>
  </div>
  <div class="progress progress-info">
    <div class="progress-bar" style="width: 50%;">50%</div>
  </div>
  <div class="progress progress-warning">
    <div class="progress-bar" style="width: 60%;">60%</div>
  </div>
  <div class="progress progress-danger">
    <div class="progress-bar" style="width: 70%;">70%</div>
  </div>
  <h4>条纹 progress-striped</h4>
  <div class="progress progress-striped">
    <div class="progress-bar" style="width: 50%;">50%</div>
  </div>
  <h4>动画 progress-striped progress-animated</h4>
  <div class="progress progress-striped progress-animated">
    <div class="progress-bar" style="width: 50%;">50%</div>
  </div>
</div>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/alert.js"></script>
</body>
</html>