<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-20 m-20 bg-white shadow-none">no shadow</div>
        <div class="p-20 m-20 bg-white shadow">shadow</div>
        <div class="p-20 m-20 bg-white shadow-sm">small shadow</div>
        <div class="p-20 m-20 bg-white shadow-lg">large shadow</div>
      </div>
    </div>
  </div>
</body>
</html>