<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h4>widht</h4>
      <div class="col-12">
        <div class="p-20 bg-light">
          <div class="mb-10 bg-info w-25">w-25</div>
          <div class="mb-10 bg-info w-50">w-50</div>
          <div class="mb-10 bg-info w-75">w-55</div>
          <div class="mb-10 bg-info w-100">w-100</div>
          <div class="mb-10 bg-info w-auto">w-auto</div>
          <div class="mb-10 bg-info mw-100">mw-100</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>height</h4>
        <div class="p-20 bg-light" style="height: 200px;">
          <div style="float:left;" class="mr-10 bg-info h-25">h-25</div>
          <div style="float:left;" class="mr-10 bg-info h-50">h-50</div>
          <div style="float:left;" class="mr-10 bg-info h-75">h-55</div>
          <div style="float:left;" class="mr-10 bg-info h-100">h-100</div>
          <div style="float:left;" class="mr-10 bg-info h-auto">h-auto</div>
          <div style="float:left; height: 300px;" class="mr-10 bg-info mh-100">mh-100</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>