<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/flyimt.css"/>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Table</h4>
        <table class="table">
          <caption>This is default tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Fourth</th>
            <th>Fifth</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          </tbody>
        </table>

        <div class="table-responsive">
          <table class="table">
            <caption>This is response tables</caption>
            <thead>
            <tr>
              <th>#</th>
              <th>First</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            </tbody>
          </table>
        </div>

        <table class="table table-sm">
          <caption>This is small tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row-bg-active">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-primary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-secondary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-success">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-info">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-warning">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-danger">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>