<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/yyui.css"/>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Table</h4>
        <table class="table table-hover">
          <caption>This is default tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Fourth</th>
            <th>Fifth</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          </tbody>
        </table>

        <div class="table-responsive">
          <table class="table ">
            <caption>This is response tables</caption>
            <thead>
            <tr>
              <th>#</th>
              <th>First1111111111111111111111111111111111</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            </tbody>
          </table>
        </div>

        <table class="table table-sm">
          <caption>This is small tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <caption>This is striped tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-border">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <h4>table-dark</h4>
        <table class="table table-dark table-hover">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row-active">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-primary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-secondary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-success">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-info">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-warning">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-danger">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-dark">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>