<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="../css/yyui.css"/>
  <title></title>
  <style>
    p {
      padding: 10px 50px;
    }
  </style>
</head>
<body>
<h4>Color</h4>
<p class="text-primary">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-secondary">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-success">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-info">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-warning">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-danger">给你点颜色看看。 Give you some colors to see see.</p>
<p class="bg-primary text-white">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-light">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-muted">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-dark">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-black">给你点颜色看看。 Give you some colors to see see.</p>
<p class="text-transparent">给你点颜色看看。 Give you some colors to see see.</p>

</body>
</html>