<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1"/>
  <link rel="stylesheet" href="../css/flyimt.css"/>
  <title></title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="javascript:;">
          <img src="../img/tl.png" alt=""/>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="javascript:;">
          <img src="../img/tl.png" alt=""/>
        </a>
      </div>
    </div><div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <a href="javascript:;">
        <img src="../img/tl.png" alt=""/>
      </a>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="javascript:;">
          <img class="img-responsive" src="../img/tl.png" alt=""/>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="javascript:;">
          <img src="../img/tl.png" alt=""/>
        </a>
        <div class="caption">
          <h4>奇幻森林</h4>
          <p>毛克利（尼尔·塞西 Neel Sethi 饰）是一个由狼群养大的人类男孩，影片围绕他的森林冒险徐徐展开。谢利·可汗，一只受过人类伤害的老虎（伊德里斯·艾尔巴 Idris Elba 配音），
            发誓要将毛克利铲除。</p>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="../jquery-1.11.1.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/alert.js"></script>
</body>
</html>