<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/flyimt.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>h1: 飞仙 <small>flyingImmortal</small></h1>
      <h2>h2: 飞仙 <small>flyingImmortal</small></h2>
      <h3>h3: 飞仙 <small>flyingImmortal</small></h3>
      <h4>h4: 飞仙 <small>flyingImmortal</small></h4>
      <h5>h5: 飞仙 <small>flyingImmortal</small></h5>
      <h6>h6: 飞仙 <small>flyingImmortal</small></h6>
    </div>
  </div>
</div>
</body>
</html>