<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/flyimt.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>h1: 飞仙 <small>flyingImmortal</small></h1>
      <h2>h2: 飞仙 <small>flyingImmortal</small></h2>
      <h3>h3: 飞仙 <small>flyingImmortal</small></h3>
      <h4>h4: 飞仙 <small>flyingImmortal</small></h4>
      <h5>h5: 飞仙 <small>flyingImmortal</small></h5>
      <h6>h6: 飞仙 <small>flyingImmortal</small></h6>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <p>这里有一个<mark>内联</mark>标签mark。</p>
      <s>没有用的文本信息。</s>
      <br/>
      <del>被删除的文本信息。</del>
      <br/>
      <ins>插入的文本信息，this is insert text.</ins>
      <br/>
      <em>emphasize text, rendered as italicized text</em>
      <br/>
      <i>italic, rendered as italicized text</i>
      <h4>List-none</h4>
      <ul class="list-none">
        <li>无样式列表</li>
        <li>无样式列表</li>
        <li>无样式列表</li>
      </ul>
      <h4>List-inline</h4>
      <ul class="list-inline">
        <li>内联列表</li>
        <li>内联列表</li>
        <li>内联列表</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>缩略语</h4>
      <abbr title="transformation">trans</abbr>
      <h4>地址</h4>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <h4>引用</h4>
      <blockquote>
        <p>爱生活，爱老婆。</p>
        <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
      </blockquote>
      <h5>靠右引用blockquote-reverse</h5>
      <blockquote class="blockquote-inverse">
        <p>爱生活，爱老婆。</p>
        <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>描述</h4>
      <dl>
        <dt>描述列表</dt>
        <dd>描述列表适合用来定义</dd>
        <dt>打烊</dt>
        <dd>商店晚上关门停止营业。</dd>
        <dd>引申为歇业。</dd>
      </dl>
      <h5>水平描述</h5>
      <dl class="dl-hz">
        <dt>描述列表 160px</dt>
        <dd>描述列表适合用来定义</dd>
        <dt>打烊</dt>
        <dd>商店晚上关门停止营业。</dd>
        <dd>引申为歇业。</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Code</h4>
      <code>
        &lt;html&gt;
        &lt;/html&gt;
      </code>

      <h4>pre</h4>
      <pre>
        <code>
          <span class="note">&lt;!-- 要用br换行 --&gt;</span>
          <br/>
          <span class="label">&lt;tr </span>
          <span class="attr">class=</span><span class="value">"active"</span><span class="label">></span>
          ...
          <span class="label">&lt;/tr></span>
          <br/>
          <span class="label">&lt;tr </span>
          <span class="attr">class=</span><span class="value">"active"</span><span class="label">></span>
          ...
          <span class="label">&lt;/tr></span>
          <br/>
          <span class="label">&lt;tr </span>
          <span class="attr">class=</span><span class="value">"active"</span><span class="label">></span>
          ...
          <span class="label">&lt;/tr></span>
        </code>
      </pre>

      <h4>&lt;kbd&gt;</h4>
      <p>按住<kbd>tab</kbd>键</p>

      <h4>Image</h4>
      <img class="img-responsive" src="../img/海绵宝宝.jpg" alt=""/>
      <img class="img-round" src="../img/海绵宝宝.jpg" alt=""/>
      <img class="img-circle" src="../img/海绵宝宝.jpg" alt=""/>
      <img class="img-thumbnail" src="../img/海绵宝宝.jpg" alt=""/>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Table</h4>
        <table class="table">
          <caption>This is default tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Fourth</th>
            <th>Fifth</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
            <td>fourth</td>
            <td>fifth</td>
          </tr>
          </tbody>
        </table>

        <div class="table-responsive">
          <table class="table">
            <caption>This is response tables</caption>
            <thead>
            <tr>
              <th>#</th>
              <th>First</th>
              <th>Second</th>
              <th>Third</th>
              <th>Fourth</th>
              <th>Fifth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            <tr>
              <th scope="row">First</th>
              <td>first</td>
              <td>second</td>
              <td>third</td>
              <td>fourth</td>
              <td>fifth</td>
            </tr>
            </tbody>
          </table>
        </div>

        <table class="table table-sm">
          <caption>This is small tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr>
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>

        <table class="table">
          <caption>This is border tables</caption>
          <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row-bg-active">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-primary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-secondary">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-success">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-info">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-warning">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          <tr class="row-bg-danger">
            <th scope="row">First</th>
            <td>first</td>
            <td>second</td>
            <td>third</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>