<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../css/flyimt.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>h1: 飞仙 <small>flyingImmortal</small></h1>
      <h2>h2: 飞仙 <small>flyingImmortal</small></h2>
      <h3>h3: 飞仙 <small>flyingImmortal</small></h3>
      <h4>h4: 飞仙 <small>flyingImmortal</small></h4>
      <h5>h5: 飞仙 <small>flyingImmortal</small></h5>
      <h6>h6: 飞仙 <small>flyingImmortal</small></h6>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <p>这里有一个<mark>内联</mark>标签mark。</p>
      <br/>
      <del>被删除的文本信息。</del>
      <br/>
      <ins>插入的文本信息，this is insert text.</ins>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>缩略语</h4>
      <abbr title="transformation">trans</abbr>
      <h4>地址</h4>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <h4>引用</h4>
      <blockquote>
        <p>爱生活，爱老婆。</p>
        <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
      </blockquote>
      <h5>靠右引用blockquote-reverse</h5>
      <blockquote class="blockquote-reverse">
        <p>爱生活，爱老婆。</p>
        <footer>出自 <cite title="Source Title">杨氏语录</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>描述</h4>
      <dl>
        <dt>描述列表</dt>
        <dd>描述列表适合用来定义</dd>
        <dt>打烊</dt>
        <dd>商店晚上关门停止营业。</dd>
        <dd>引申为歇业。</dd>
      </dl>
      <h5>水平描述</h5>
      <dl class="dl-hz">
        <dt>描述列表 160px</dt>
        <dd>描述列表适合用来定义</dd>
        <dt>打烊</dt>
        <dd>商店晚上关门停止营业。</dd>
        <dd>引申为歇业。</dd>
      </dl>
    </div>
  </div>
</div>
</body>
</html>